@font-face {
    src: url(font/Andes.ttf);
    font-family: and;
   }

@font-face{
    src: url(font/Codian.otf);
    font-family:codian;
}

body {
    background-color: #071E26;
    text-align: center;
}

p {
    font-size: 400px;
}

.p2{
    font-size: 100px;
}

a {
    animation:fadein 8s;
}

.intro {
    width : 90%;
    height: 90%;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    87%{
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (min-width :1000px){
    .intro {
        width: 40%;
        height: 40%;
    }

    p {
        font-size: 100px;
    }

}