/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

    nav ul {
        list-style: none;
    }

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

/*---------------------------------------------------------------------------------------*/
@font-face {
    src: url(font/Andes.ttf);
    font-family: and;
   }

@font-face{
    src: url(font/Codian.otf);
    font-family:codian;
}

h1 {
    font-size: 60px;
    color: sandybrown;
    margin: 0px;
    background-color: antiquewhite;
    text-align: center;
    font-family:and;
    letter-spacing:5px;
}

body {
    background-color: #d7e6fa;
}

.info {
    color: #47506D;
    margin:0 auto;
    width:1000px;
}

h2 {
    font-size: 40px;
}

p  {
    font-size: 30px;
    text-indent:30px;
    line-height:30px;
}

.ul-link{
    list-style:none;
    margin-left:450px;
    margin-top:30px;
}

.link-1 {
    font-family:codian;
    font-size: 20px;
    color:darkcyan;
    font-style:italic;
    font-weight:100;
    text-decoration:none;
    list-style:none;
    margin:0px;
    }

.sample-image {
    display:block;
    width: 500px;
    margin-left:auto;
    margin-right:auto;
}

.test-video{
    position:relative;
    padding-bottom:28%;
    width:500px;
    height:0px;
}

.test-video video{
    position:absolute;
    left:225px;
    top:0px;
}

.ts-video {
    width:100%;
}

.gif-image {
    display:block;
    margin-top:50px;
    width:450px;
    margin-left:250px;
    margin-right:auto
}