@font-face {
    src: url(font/Andes.ttf);
    font-family: and;
   }

@font-face{
    src: url(font/Codian.otf);
    font-family:codian;
}

body {
    background-color: #3D3E42;
    text-align:center;
}

p {
    font-size: 100px;
}