/*-------svg--------*/

.cls-1 {
    fill: #6d2222;
}

.cls-2 {
    fill: #681919;
}

.cls-3 {
    fill: #2d2c22;
}

.cls-4 {
    opacity: 0.99;
}

.cls-5 {
    fill: #323031;
}

.cls-6 {
    fill: #3d3e42;
}

#mider_line {
    animation: mider-line 2s forwards;
    transform-origin: center;
}

#left_cube {
    animation: left-cube 3s forwards;
    animation-delay: 2s;
}

#right_cube {
    animation: right-cube 3s forwards;
    animation-delay: 2.8s;
}

#creator {
    animation: creator-herng 4s forwards;
    animation-delay: 3.8s;

}

#_5s3 {
    animation: red-growing 2s alternate infinite ;
    animation-delay:6.25s;
}

#_5s3_back{
    animation: setup-red 1.1s ease;
    animation-delay:5.25s;
}

#nine_time {
    animation: yellow-growing 2s alternate infinite ;
    animation-delay:5s;
}

#nine_time_back{
    animation:setup-yellow 1s ease;
    animation-delay:4s;
}

@keyframes mider-line {
    0% {
        transform: scaleY(0%)
    }

    50% {
        transform: scaleY(100%)
    }

    100% {
        transform: scaleY(100%) rotate(25deg)
    }
}

@keyframes left-cube {
    from {
        transform: translateX(0%)
    }

    to {
        transform: translateX(-100%)
    }
}

@keyframes right-cube {
    from {
        transform: translateX(0%)
    }

    to {
        transform: translateX(100%)
    }
}

@keyframes creator-herng {
    0% {
        transform: translateY(0%)
    }

    25% {
        transform: translateY(15%)
    }

    60% {
        transform: translateY(15%);
        filter: 
        drop-shadow(0px 0px 0.7px #CBDDFF) 
        drop-shadow(0px 0px 0px #98A9DC) 
        drop-shadow(0px 0px 0px #6675B9) 
        drop-shadow(0px 0px 0px #334196) 
        drop-shadow(0px 0px 0px #000D73)
    }

    70% {
        transform: translateY(15%);
        filter: 
        drop-shadow(0px 0px 0.7px #CBDDFF) 
        drop-shadow(0px 0px 0px #98A9DC) 
        drop-shadow(0px 0px 0px #6675B9) 
        drop-shadow(0px 0px 0px #334196) 
        drop-shadow(0px 0px 0px #000D73)
    }

    71% {
        transform: translateY(15%);
        filter:none
    }

    72% {
        transform: translateY(15%);
        filter: none
    }

    73% {
        transform: translateY(15%);
        filter: 
        drop-shadow(0px 0px 0.7px #CBDDFF) 
        drop-shadow(0px 0px 0px #98A9DC) 
        drop-shadow(0px 0px 0px #6675B9) 
        drop-shadow(0px 0px 0px #334196) 
        drop-shadow(0px 0px 0px #000D73)
    }

    88% {
        transform: translateY(15%);
        filter: 
        drop-shadow(0px 0px 0.7px #CBDDFF) 
        drop-shadow(0px 0px 0px #98A9DC) 
        drop-shadow(0px 0px 0px #6675B9) 
        drop-shadow(0px 0px 0px #334196) 
        drop-shadow(0px 0px 0px #000D73)
        }

    90%{
        transform: translateY(15%);
        filter: none
    }

    98% {
        transform: translateY(15%);
        filter: none
    }

     100% {
        transform: translateY(15%);
        filter: 
        drop-shadow(0px 0px 0.7px #CBDDFF) 
        drop-shadow(0px 0px 0px #98ABEC) 
        drop-shadow(0px 0px 0px #6679D9) 
        drop-shadow(0px 0px 0px #3347C6) 
        drop-shadow(0px 0px 0px #0015B3)
        }
}

@keyframes setup-yellow{
    0%{
        filter: none
    }
    100%{
        filter:
        drop-shadow(0px 0px 1px #FFFFE7) 
        drop-shadow(0px 0px 0px #FFFCD8) 
        drop-shadow(0px 0px 0px #FFF9C9) 
        drop-shadow(0px 0px 0px #FFF7BA) 
        drop-shadow(0px 0px 0px #FFF4AB)
    }
}

@keyframes yellow-growing{
     0% {
        filter: 
        drop-shadow(0px 0px 1px #FFFFE7) 
        drop-shadow(0px 0px 0px #FFFCD8) 
        drop-shadow(0px 0px 0px #FFF9C9) 
        drop-shadow(0px 0px 0px #FFF7BA) 
        drop-shadow(0px 0px 0px #FFF4AB)
        }
    
    100%{
        filter: 
        drop-shadow(0px 0px 2px #FFFFE7) 
        drop-shadow(0px 0px 1.5px #FFFCD8) 
        drop-shadow(0px 0px 1px #FFF9C9) 
        drop-shadow(0px 0px 0.5px #FFF7BA) 
        drop-shadow(0px 0px 0.25px #FFF4AB)
        }
    }

@keyframes setup-red{
    0%{
        filter:none
    }
    100%{
        filter: 
        drop-shadow(0px 0px 0.7px #FFCBCB) 
        drop-shadow(0px 0px 0px #FFAEAE) 
        drop-shadow(0px 0px 0px #FF9090) 
        drop-shadow(0px 0px 0px #FF7373) 
        drop-shadow(0px 0px 0px #FF5555)
    }
}

@keyframes red-growing{
     0% {
        filter: 
        drop-shadow(0px 0px 0.7px #FFCBCB) 
        drop-shadow(0px 0px 0px #FFAEAE) 
        drop-shadow(0px 0px 0px #FF9090) 
        drop-shadow(0px 0px 0px #FF7373) 
        drop-shadow(0px 0px 0px #FF5555)
        }
    
    100%{
        filter: 
        drop-shadow(0px 0px 2px #FFCBCB) 
        drop-shadow(0px 0px 1.5px #FFAEAE) 
        drop-shadow(0px 0px 1px #FF9090) 
        drop-shadow(0px 0px 0.5px #FF7373) 
        drop-shadow(0px 0px 0.25px #FF5555)
        }
    }
